.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 6rem 2rem 0 2rem;
    transition: margin-left var(--layout-section-transition-duration);
}

.layout-main {
    flex: 1 1 auto;
    padding-bottom: 2rem;
}

img {
    max-width: none !important;
}

/* Add this custom CSS to your project */
.p-container {
    /* 1. Sets a maximum width for the content area */
    max-width: 1200px; /* Adjust this value as needed */

    /* 2. Centers the block element */
    margin-left: auto;
    margin-right: auto;

    /* 3. Ensures it takes up full width when smaller than max-width */
    width: 100%;
}
